<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>Newsletter articles"</title>
</head>
<body>
<h2 style="color:DodgerBlue">Newsletter Articles</h2>
<hr style="width:50%;text-align:left;margin-left:0">

<form action="" method = "post" style="width: 200px; margin: left; border: solid 5px; padding: 0 3em; color: aquamarine;">

   <form action = "{{ request.path }}" method = "post">
     
        <div class="form-group col-md-6">
           {{ addarticlesform.url.label }}
           {{ addarticlesform.url(id="url",class="form-control",autofocus="")}}
         </div>
        <br>
        <div class="form-group col-md-6">
           {{ addarticlesform.title.label }}
           {{ addarticlesform.title(id="title",class="form-control", autofocus="")}}
         </div>
        <br>
        {{ addarticlesform.description.label}}
        <div class="form-group col-md-6">{{ addarticlesform.description(id="description", class="form-control",autofocus="")}}
        </div>
        <br>
        {{addarticlesform.time.label}}
        <div class="form-group col-md-6">{{ addarticlesform.time(id="time", class="form-control",autofocus="") }}
        </div>
        <br>
        {{addarticlesform.category_id.label}}
        <div class="form-group col-md-6">{{ addarticlesform.category_id(id="category_id", class="form-control", required="") }}
        </div>
        <br>{{ addarticlesform.submit(class="btn btn-lg btn-primary btn-block")}}
</form>
</hr>
</body>
</html>
