body {
    background: #e1eaf5;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: white;
    width: 800px;
    margin: 80px auto 0;
    box-shadow: 0 0 5px rgba(65,67,144,0.15);
    padding: 50px;
}

h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color:#5cb85cff;  
    line-height: 1.0;
}

li {
    list-style: none;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    color: #475268;
}

.field-name {
    font-weight: 500;
    min-width: 95px;
    display: inline-block;
}

.field-value {
    font-size: .9em;
}

.button {
    position: absolute;
    top: 50%;
}
